.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-top: 1px solid #f5f2f7;
    position: relative;
}

.img-container {
    height: 85px;
}

.img-container img {
    height: 100%;
    width: auto;
}

.item-header {
    display: flex;
}

.header-info {
    margin-left: 1.5rem;
}

.header-title {
    margin: .5rem 0 1rem 0;
    font-size: 1.1rem;
}

.item-info {
    display: flex;
    align-items: center;
}

.item-info * {
    margin-right: 2.5rem;
}

.price {
    font-weight: 600;
}

.caption {
    font-size: .9rem;
}

.delete-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    cursor: pointer;
}

.delete-btn button {
    font-size: 1.1rem;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}