@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --main-color: #95BF74;
    --secondary-color: #659B5E;
    --border-color: #f5f2f7;
    --error-color: #e94d4a;
    --title-gray: #95a0a6;
}

body {
    background-color: #F7F7F7;
}
